@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* =============== CONFIGURAÇÕES BÁSICAS =============== */

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
}

/* =============== TIPOGRAFIA =============== */

h1 {
    margin: 1.8rem 0;
    font-size: 3.4rem;
    font-weight: 700;
    text-align: center;
}

h1 u {
    text-decoration-color: #0071B8;
}

h2 {
    margin: 3.6rem 0;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
}

h3 {
    margin: 1.8rem 0;
    font-size: 3rem;
    font-weight: 700;
}

h3 i {
    color: #0071B8;
    font-size: 3.4rem;
}

h4 {
    margin: 1.8rem 0;
    font-size: 2.2rem;
}

ul {
    font-weight: 700;
}

ul li::marker {
    font-size: 2.4rem;
    color: #FFBF3C;
}

hr {
    max-width: 50%;
    margin: 3.6rem auto;
    border: 2px solid #DDDDDD;
    border-radius: 15px;
}

/* =============== HEADER =============== */

header {
    background-color: #F4F5F7;
    border-top: 4px solid #0071B8;
    border-bottom: 2px solid #EEEEEE;
}

header > div > div {
    max-width: 720px;
    margin: 0 auto;
    padding: 2rem;
}

/* =============== MAIN =============== */

main > div > div {
    max-width: 720px;
    margin: 0 auto;
    padding: 2rem;
}

/* BOTÕES */

a.btn {
    display: block;
    max-width: 75%;
    margin: 3.6rem auto 1.8rem auto;
    padding: 1rem;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #009845;
    border-radius: 15px;
}

a.btn:active {
    background-color: #007A37;
}

/* DIV COLORS */

div.blue {
    color: #FFFFFF;
    background-color: #0071B8;
}

div.gray {
    background-color: #F4F5F7;
}

/* STEPS */

div.steps {
    margin: 3.6rem 0;
    background-color: #FFFFFF;
    border: 2px solid #EEEEEE;
    border-radius: 15px;
}

div.steps i {
    display: block;
    margin: 1.8rem 0;
    color: #0071B8;
    font-size: 6rem;
    text-align: center;
}

div.steps h4 {
    text-align: center;
}
div.steps p {
    margin: 1.8rem;
}

/* FAQ */

details {
    margin: 0.5rem auto;
    padding: 1rem;
    background-color: #FFFFFF;
    border: 2px solid #EEEEEE;
    border-radius: 15px;
}

summary {
    margin: 1rem 1.8rem;
    color: #0071B8;
    font-size: 2rem;
    font-weight: 700;
}

details p {
    margin: 1.8rem;
}

/* =============== FOOTER =============== */

footer {
    border-top: 2px solid #EEEEEE;
}

footer a {
    color: #0071B8;
    font-weight: 700;
    text-decoration: none;
}

footer p.institucional {
    font-size: 1.2rem;
}

footer > div > div {
    max-width: 720px;
    margin: 0 auto;
    padding: 4rem 2rem;
    font-size: 1.4rem;
    text-align: center;
}

/* =============== HACKS =============== */

.mt36 {
    margin-top: 3.6rem !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mt100n {
    margin-top: -10rem !important;
}

.mb100 {
    margin-bottom: 10rem !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.m0 {
    margin: 0 !important;
}

.p0 {
    padding: 0 !important;
}

.tcenter {
    text-align: center;
}